<div class="sidebar">
    <div>
        <ul class="mainul">
            <li><a href="/channel/star-plus">
                    <span class="sidedetails">Star Plus</span>
                </a></li>
            <li><a href="/channel/colors-tv">
                    <span class="sidedetails">Colors Tv</span>
                </a></li>
            <li><a href="/channel/zee-tv">
                    <span class="sidedetails">Zee Tv</span>
                </a></li>
            <li><a href="/channel/sony-tv">
                    <span class="sidedetails">Sony Tv</span>
                </a></li>
            <li><a href="/channel/star-bharat">
                    <span class="sidedetails">Star Bharat</span>
                </a></li>
            <li><a href="/channel/sab-tv">
                    <span class="sidedetails">Sab Tv</span>
                </a></li>
            <li><a href="/channel/and-tv">
                    <span class="sidedetails">And Tv</span>
                </a></li>
            <li><a href="/channel/dangal-tv">
                    <span class="sidedetails">Dangal Tv</span>
                </a></li>
            <li><a href="/channel/shemaroo-umang">
                    <span class="sidedetails">Shemaroo Umang</span>
                </a></li>
            <li><a href="/channel/mtv-india">
                    <span class="sidedetails">Mtv India</span>
                </a></li>
            <li><a href="/channel/nazara-tv">
                    <span class="sidedetails">Nazara Tv</span>
                </a></li>
            <li><a href="/channel/awards-shows">
                    <span class="sidedetails">Awards Shows</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Shemaroo Umang Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/kismat-ki-lakiron-se">
                    <span class="sidedetails">Kismat Ki Lakiron Se</span>
                </a></li>
            <li><a href="/tag/kyunki-tum-hi-ho">
                    <span class="sidedetails">Kyunki Tum Hi Ho</span>
                </a></li>
            <li><a href="/tag/raazz-mahal">
                    <span class="sidedetails">Raazz Mahal</span>
                </a></li>
            <li><a href="/tag/shravani">
                    <span class="sidedetails">Shravani</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Dangal Tv Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/mast-mauli">
                    <span class="sidedetails">Mast Mauli</span>
                </a></li>
            <li><a href="/tag/bindiya-sarkaar">
                    <span class="sidedetails">Bindiya Sarkaar</span>
                </a></li>
            <li><a href="/tag/palkon-ki-chhaon-mein-2">
                    <span class="sidedetails">Palkon Ki Chhaon Mein 2</span>
                </a></li>
            <li><a href="/tag/nath-–-krishna-aur-gauri-ki-kahani">
                    <span class="sidedetails">Nath Zewar Ya Zanjeer</span>
                </a></li>
            <li><a href="/tag/mann-sundar">
                    <span class="sidedetails">Mann Sundar</span>
                </a></li>
            <li><a href="/tag/sindoor-ki-keemat-2">
                    <span class="sidedetails">Sindoor Ki Keemat 2</span>
                </a></li>
            <li><a href="/tag/ishq-ki-daastan-naagmani">
                    <span class="sidedetails">Naagmani</span>
                </a></li>
            <li><a href="/tag/baazi-ishq-ki">
                    <span class="sidedetails">Baazi Ishq Ki</span>
                </a></li>
            <li><a href="/tag/janam-janam-ka-saath">
                    <span class="sidedetails">Janam Janam Ka Saath</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Star Plus Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/anupamaa">
                    <span class="sidedetails">Anupamaa</span>
                </a></li>
            <li><a href="/tag/faltu">
                    <span class="sidedetails">Faltu</span>
                </a></li>
            <li><a href="/tag/ghum-hai-kisikey-pyaar-mein">
                    <span class="sidedetails">Ghum Hai Kisi Ke Pyar Mein</span>
                </a></li>
            <li><a href="/tag/imlie">
                    <span class="sidedetails">Imlie</span>
                </a></li>
            <li><a href="/tag/pandya-store">
                    <span class="sidedetails">Pandya Store</span>
                </a></li>
            <li><a href="/tag/teri-meri-doriyaann">
                    <span class="sidedetails">Teri Meri Doriyaan</span>
                </a></li>
            <li><a href="/tag/yeh-hai-chahatein">
                    <span class="sidedetails">Yeh Hai Chahatein</span>
                </a></li>
            <li><a href="/tag/yeh-rishta-kya-kehlata-hai">
                    <span class="sidedetails">Yeh Rishta Kya Kehlata Hai</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Colors Tv Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/tere-ishq-mein-ghayal">
                    <span class="sidedetails">Tere Ishq Mein Ghayal</span>
                </a></li>
            <li><a href="/tag/saavi-ki-savaari">
                    <span class="sidedetails">Saavi Ki Savaari</span>
                </a></li>
            <li><a href="/tag/suhaagan">
                    <span class="sidedetails">Suhagan</span>
                </a></li>
            <li><a href="/tag/udaariyaan">
                    <span class="sidedetails">Udaariyaan</span>
                </a></li>
            <li><a href="/tag/parineetii">
                    <span class="sidedetails">Parineeti</span>
                </a></li>
            <li><a href="/tag/shivshakti">
                    <span class="sidedetails">Shivshakti</span>
                </a></li>
            <li><a href="/tag/junooniyatt">
                    <span class="sidedetails">Junooniyatt</span>
                </a></li>
            <li><a href="/tag/neerja-ek-nayi-pehchaan">
                    <span class="sidedetails">Neerja Ek Nayi Pehchaan</span>
                </a></li>
            <li><a href="/tag/agnisakshi">
                    <span class="sidedetails">Agnisakshi</span>
                </a></li>
            <li><a href="/tag/dharampatni">
                    <span class="sidedetails">Dharam Patni</span>
                </a></li>
            <li><a href="/tag/naagin-6">
                    <span class="sidedetails">Naagin 6</span>
                </a></li>
            <li><a href="/tag/bekaboo">
                    <span class="sidedetails">Bekaboo</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Zee Tv Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/maitree">
                    <span class="sidedetails">Maitree</span>
                </a></li>
            <li><a href="/tag/meet">
                    <span class="sidedetails">Meet</span>
                </a></li>
            <li><a href="/tag/pyar-ka-pehla-naam-radha-mohan">
                    <span class="sidedetails">Pyar Ka Pehla Naam Radha Mohan</span>
                </a></li>
            <li><a href="/tag/main-hoon-aparajita">
                    <span class="sidedetails">Main Hoon Aparajita</span>
                </a></li>
            <li><a href="/tag/bhagya-lakshmi">
                    <span class="sidedetails">Bhagya Lakshmi</span>
                </a></li>
            <li><a href="/tag/kumkum-bhagya">
                    <span class="sidedetails">Kumkum Bhagya</span>
                </a></li>
            <li><a href="/tag/kundali-bhagya">
                    <span class="sidedetails">Kundali Bhagya</span>
                </a></li>
            <li><a href="/tag/rab-se-hai-dua">
                    <span class="sidedetails">Rab Se Hai Dua</span>
                </a></li>
            <li><a href="/tag/rani-rashmoni">
                    <span class="sidedetails">Rani Rashmoni</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Sony Tv Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/mere-sai">
                    <span class="sidedetails">Mere Sai</span>
                </a></li>
            <li><a href="/tag/punyashlok-ahilya-bai">
                    <span class="sidedetails">Punyashlok Ahilyabai</span>
                </a></li>
            <li><a href="/tag/bade-acche-lagte-hai-3">
                    <span class="sidedetails">Bade Achhe Lagte Hain</span>
                </a></li>
            <li><a href="/tag/katha-ankhahee">
                    <span class="sidedetails">Katha Ankahee</span>
                </a></li>
            <li><a href="/tag/hum-rahe-na-rahe-hum">
                    <span class="sidedetails">Hum Rahe Na Rahe Hum</span>
                </a></li>
            <li><a href="/tag/sapno-ki-chhalaang">
                    <span class="sidedetails">Sapno Ki Chhalaang</span>
                </a></li>
            <li><a href="/tag/india’s-best-dancer-3">
                    <span class="sidedetails">India’s Best Dancer (Season 3)</span>
                </a></li>
            <li><a href="/tag/the-kapil-sharma-show-4">
                    <span class="sidedetails">The Kapil Sharma Show 4</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Star Bharat Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/ajooni">
                    <span class="sidedetails">Ajooni</span>
                </a></li>
            <li><a href="/tag/dheere-dheere-se">
                    <span class="sidedetails">Dheere Dheere Se</span>
                </a></li>
            <li><a href="/tag/meri-saas-bhoot-hai">
                    <span class="sidedetails">Meri Saas Bhoot Hai</span>
                </a></li>
            <li><a href="/tag/na-umar-ki-seema-ho">
                    <span class="sidedetails">Na Umar Ki Seema Ho</span>
                </a></li>
            <li><a href="/tag/woh-to-hai-albelaa">
                    <span class="sidedetails">Woh Toh Hai Albela</span>
                </a></li>
        </ul>
    </div>
    <div>
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>Sab Tv Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/dil-diyaan-gallaan">
                    <span class="sidedetails">Dil Diyan Gallan</span>
                </a></li>
            <li><a href="/tag/dhruv-tara">
                    <span class="sidedetails">Dhruv Tara</span>
                </a></li>
            <li><a href="/tag/taarak-mehta-ka-ooltah-chashmah">
                    <span class="sidedetails">Taarak Mehta Ka Ooltah Chashmah</span>
                </a></li>
            <li><a href="/tag/wagle-ki-duniya">
                    <span class="sidedetails">Wagle Ki Duniya</span>
                </a></li>
            <li><a href="/tag/pushpa-impossible">
                    <span class="sidedetails">Pushpa Impossible</span>
                </a></li>
            <li><a href="/tag/baalveer-3">
                    <span class="sidedetails">Baalveer 3</span>
                </a></li>
            <li><a href="/tag/vanshaj">
                    <span class="sidedetails">Vanshaj</span>
                </a></li>
        </ul>
    </div>
    <div id="scrollingdiv">
        <span style="color: red;">&nbsp;&nbsp;&nbsp;<b>And Tv Runing Show List</b></span>
        <ul class="mainul">
            <li><a href="/tag/doosri-maa">
                    <span class="sidedetails">Doosri Maa</span>
                </a></li>
            <li><a href="/tag/ek-mahanayak-–-dr-b-r-ambedkar">
                    <span class="sidedetails">Ek Mahanayak</span>
                </a></li>
            <li><a href="/tag/happu-ki-ultan-paltan">
                    <span class="sidedetails">Happu Ki Ultan Paltan</span>
                </a></li>
            <li><a href="/tag/bhabi-ji-ghar-par-hai">
                    <span class="sidedetails">Bhabi Ji Ghar Pe Hai</span>
                </a></li>
            <li><a href="/tag/naagini">
                    <span class="sidedetails">Nagini</span>
                </a></li>
            <li><a href="/tag/haiwan">
                    <span class="sidedetails">Haiwan</span>
                </a></li>
        </ul>
    </div>
    <div id="fixedside">
    </div>
    <div id="scdivbottom">
        <ul class="mainul">

        </ul>
    </div>
</div>