<div class="mvSideBar mobile_sidebar">
    <div class="mclose">
        <span onclick="toggleBtnClickm(false)">✘</span>
    </div>
    <div class="mvsidescroll">
        <ul>

        </ul>
    </div>
</div>

<div id="progress-bar">
    <div id="progress-bar-fill"></div>
</div>

<div class="mainheader overflowda" id="mainheader">
    <div class="header">
        <button class="menubtn" onclick="toggleBtnClickm(true)" aria-label="Toggle Menu">
            <span></span><span></span><span></span>
        </button>
        <button class="searchbtn" onclick="searchcontrol()"><span>🔍</span></button>
        <a class="logowebsite" href="https://serialghar.ullu.es">
            <img src="/images/logo/web-logo.webp" alt="Web logo">
        </a>
        <div class="searchmain" id="ser1">
            <form method="get" action="/">
                <input type="text" id="myInput1" name="s" placeholder="Search...">
                <button aria-label="searchbtn" type="submit" class="searchButtontable">
                    <img src="/images/logo/search.svg" alt="Search">
                </button>
            </form>
        </div>
        <div class="toptopic">
            <ul>
                <li><a href="/page/privacy-policy">Privacy</a></li>
                <li><a href="/page/contact">Contact</a></li>
                <li><a href="/page/dmca">DMCA</a></li>
            </ul>
        </div>
    </div>
    <div class="searchmain overflowda" id="ser2">
        <form method="get" action="/">
            <input type="text" id="myInput2" name="s" placeholder="Search...">
            <button aria-label="searchbtn" type="submit" class="searchButtontable">
                <img src="/images/svg/search.svg" alt="Search">
            </button>
        </form>
    </div>
</div>