<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMCA</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="language" content="English">
    <meta name="description" content="This Page tells about DMCA">
    <meta name="title" content="This Page tells about DMCA">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="serialghar.fun" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="This Page tells about DMCA" />
    <meta property="og:description" content="This Page tells about DMCA" />
    <meta property="og:url" content="https://serialghar.fun" />
    <meta property="fb:admins" content="serialghar" />
    <meta property="og:image" content="https://serialghar.fun/images/serialghar_banner.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://serialghar.fun">
    <meta name="twitter:site" content="@serialghar" />
    <meta name="twitter:title" content="This Page tells about DMCA" />
    <meta name="twitter:description" content="This Page tells about DMCA" />
    <meta name="twitter:image" content="https://serialghar.fun/images/serialghar_banner.jpg" />
    <style>.mvSideBar {bottom: 0;transform: translatex(-800px);transition: transform 500ms ease-in-out}</style>
    <link rel="stylesheet" href="/css/main-page.css">
    <script type='text/javascript' src='//disposalsirbloodless.com/a8/9a/68/a89a68fc061fd9b5a9cb612414197e04.js'></script>
</head>

<body>
    <%- include('../amain/top.ejs') %>
        <div id="mainbody">
            <div class="bodymain">
            <div class="body">
                <div class="symboldiv">
                    <h1>DMCA</h1>
                    <div class="content">
                        <p>It is our policy to respond to clear notices of alleged copyright infringement. This page outlines the information required to submit these notices and allows online submission for the fastest response.</p>
                        <br>
                        <h3>Important – A/V Content Removal Requests:</h3>
                        <p>None of the videos are hosted on this site or its servers. So please make sure that any A/V removal request is preceded by a confirmation that the material in question is indeed hosted on a Serialghar.online server and not hosted by an external website. You can check the location that a video is hosted at by using the “Hosted On: Links” provided Under each video. This will take you to the actual location of the video. You can also Click on Each Video and it will take you to the Original Video Host.</p>
                        <br>
                        <p>We hope you enjoy our Website as much as we enjoy offering to you. If you have any
                            questions or comments, please don't hesitate to contact us on our <a
                                href="/page/contact"><b>Contact page.</b></a> we
                            really care about your feedback.</p>
                    </div>
                </div>
            </div>
            </div>
            <%- include('../amain/sidebar.ejs') %>
        </div>
        <%- include('../amain/footer.ejs') %>
        <script src="/js/mini-main.js"></script>
        <script type='text/javascript' src='//disposalsirbloodless.com/a7/3f/7b/a73f7bb0763f207e00249411611a75f2.js'></script>
</body>

</html>