<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="language" content="English">
    <meta name="description" content="Privacy Policy page of serialghar">
    <meta name="title" content="Privacy Policy page of serialghar">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="serialghar.fun" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Privacy Policy page of serialghar" />
    <meta property="og:description" content="Privacy Policy page of serialghar" />
    <meta property="og:url" content="https://serialghar.fun" />
    <meta property="fb:admins" content="serialghar" />
    <meta property="og:image" content="https://serialghar.fun/images/serialghar_banner.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://serialghar.fun">
    <meta name="twitter:site" content="@serialghar" />
    <meta name="twitter:title" content="Privacy Policy page of serialghar" />
    <meta name="twitter:description" content="Privacy Policy page of serialghar" />
    <meta name="twitter:image" content="https://serialghar.fun/images/serialghar_banner.jpg" />
    <style>.mvSideBar{ bottom: 0; transform: translatex(-800px); transition: transform 500ms ease-in-out} </style>
    <link rel="stylesheet" href="/css/main-page.css">
    <script type='text/javascript' src='//disposalsirbloodless.com/a8/9a/68/a89a68fc061fd9b5a9cb612414197e04.js'></script>
</head>

<body>
    <%- include('../amain/top.ejs') %>
        <div id="mainbody">
            <div class="bodymain">
                <div class="body">
                    <div class="symboldiv">
                        <h1>Privacy Policy</h1>
                        <div class="content">
                            <h3>Privacy Policy</h3>
                            <p>We value the trust placed in use by you and therefore, we follow the highest standards of
                                privacy guidelines to protect the information shared by you with us.</p>
                            <p>This Privacy Policy (“<b>Privacy Policy</b>”) governs the use of personal information
                                shared with or collected by Serialghar from the users of Serialghar. This Privacy Policy
                                is subject to change from time to time without any written notice to you. Please review
                                the Privacy Policy from time to time to be updated with the latest changes and
                                modifications.</p>
                            <p>By browsing, using, downloading or installing Serialghar, you agree to be bound by the
                                terms of this Privacy Policy. If you do not agree with the terms contained herein,
                                please do not download or browse Serialghar.</p>

                            <p>By mere browsing or use of Serialghar, you consent to the terms of this Privacy Policy
                                and agree to the use of your personal information in the manner as provided under this
                                Privacy Policy.</p>

                            <p>All capitalized terms that have not been specifically defined herein shall have the same
                                meaning as provided under the Terms of Use.</p>
                            <br>
                            <h3>Collection and Use of Personal Information</h3>
                            <p>‘Personal Information’, ‘Information’ and ‘Sensitive Information’ shall have the meaning
                                ascribed to it under the IT Act, 2000 and Information Technology (Reasonable Security
                                Practises and Procedures and Sensitive Personal Data or Information) Rules, 2011.</p>
                            <h3>Generic Information</h3>
                            <p>We collect Your Personal Information/Information when you use Serialghar and when You
                                share such information with Us through email or by posting on Serialghar or by any other
                                means made available to You by Us. During browsing/using of Serialghar by You, We
                                collect information with respect to Your IP Address and zip code. In the event You want
                                to share any feedback or raise a concern, We collect information with respect to Your
                                name, age, mobile number, email address, gender, occupation etc.</p>
                            <p>We collect information in order to provide you with a safe, efficient, smooth and
                                customized experience. This allows us to provide services and features that most likely
                                meet your needs, and to customize Serialghar to make your experience safer and easier.
                            </p>
                            <p>We do not solicit any Sensitive Information about You or seek information with respect to
                                Your credit/debit card, net banking or other financial information, except as expressly
                                provided herein. However, if You share such information with Us voluntarily, We will not
                                be liable for any actions, claims, costs, expenses or other liabilities that may arise
                                as a consequence of such any unauthorized use or misuse of such information.</p>
                            <h3>Demographic Information</h3>
                            <p>We may track certain information about you based upon your behavior on Serialghar. We use
                                this information for conducting internal research on our users’ demographics, interests,
                                and behavior to better understand, protect and serve our users. This information is
                                compiled and analysed on an aggregated basis. This information may include the website
                                that you just visited (whether this website is on Serialghar or not), which website you
                                next visit, your computer browser information.</p>
                            <p>We may also collect information to track user behavior and preferences for internal
                                analytics and research. We may also use Your information: (i) to evaluate Your interest
                                for various genres of content, services, offers; (ii) to perform analytics and conduct
                                customer research, to determine Your interest, for identifying Content that generate
                                sales and to analyse traffic patterns.</p>
                            <p>If you choose to post messages on our message boards, chat rooms or other message areas
                                or leave feedback, We will collect that information You provide to us. We retain this
                                information as necessary to resolve disputes, provide customer support and troubleshoot
                                problems as permitted by law.</p>
                            <p>If You send us personal correspondence, such as emails or letters, or if other users or
                                third parties send us correspondence about Your activities or postings on Serialghar, we
                                may store such information.</p>
                            <p>We identify and use Your IP address to help diagnose problems with our server, and to
                                administer Serialghar. Your IP address is also used to help identify You and to gather
                                broad demographic information.</p>
                            <p>We will occasionally ask You to complete optional online surveys. These surveys may ask
                                You for contact information and demographic information (like zip code, age, or
                                income level). We use this data to tailor Your experience at Serialghar, providing You
                                with content that We think You might be interested in and to display content according
                                to Your preferences.</p>
                            <h3>Cookie</h3>
                            <p>A “cookie” is a small piece of information stored by a web server on a web browser so it
                                can be later read back from that browser. Cookies are useful for enabling the browser to
                                remember information specific to a given user. We place both permanent and temporary
                                cookies in your computer’s hard drive. The cookies do not contain any of your personally
                                identifiable information.</p>
                            <p>You will always have an option not to provide certain information and can choose to
                                opt-out from provision of certain information.</p>
                            <p>Disclosure of Personal Information with Third Parties</p>
                            <p>We may disclose Personal Information to affiliates and group companies. We may also
                                disclose Your Personal Information with third parties strictly on confidential terms. We
                                may disclose such information to third parties in order to provide You access to
                                Serialghar and facilitate or Your participation in any contest, game or activity
                                conducted by Serialghar, to comply with Our legal obligations, to enforce Terms of Use,
                                to facilitate our marketing and advertising activities, or to prevent, detect, mitigate,
                                and investigate fraudulent or illegal activities related to Serialghar.</p>
                            <p>We will always take Your express consent at the time of sharing your Personal Information
                                with third parties for their marketing and advertising purposes.</p>
                            <p>In the event of any requirement by court order, government or quasi-government agency to
                                disclose Your Personal Information, We will disclose information as may be legally
                                required. We may also disclose Your Personal Information if we, in the good faith
                                believe that such disclosure is reasonably necessary to respond to subpoenas, court
                                orders, or other legal process.</p>
                            <p>In the event Serialghar is merged with or acquired by another company or in case of
                                re-organization or re-structuring of business, We and our affiliates will share Your
                                Personal Information, wholly or in part, with another business entity.</p>
                            <h3>Third Party Sites</h3>
                            <p>Serialghar may provide links to various third party websites that may collect your
                                Personal Information. Use of Your information collected by such third party website will
                                be governed by the privacy policy in such third party website. Serialghar has no control
                                on the operation of such third party websites and You may share information with such
                                third party at Your sole risk. Serialghar shall not be liable to You for any
                                misappropriation of Your Personal Information by such third party.</p>
                            <h3>Promotional and Marketing Activities</h3>
                            <p>We will send communications to You at regular intervals to notify you of, among other
                                things, various offers, new content, exclusive deals etc., that may be available or new
                                services that may be of interest to You. By accessing Serialghar, you expressly consent
                                to receiving such communications from us at regular intervals.</p>
                            <p>However, if you do not wish to receive any communication from us, You may request to
                                opt-out by writing to us at <a href="/page/contact"><b>contact us.</b></a> Once, We are in receipt of Your
                                request, We will cease sending promotional messages to You.</p>
                            <h3>Security and Compliance with Laws</h3>
                            <p>We strive to protect Your Personal Information against unauthorized disclosure, misuse,
                                unlawful use, modification, loss or destruction. We take all reasonable measures and
                                precautions, as per standard industry practises, to keep Your Personal Information
                                confidential. We ensure compliance with all applicable laws including but not limited to
                                Information Technology (Reasonable security practices and procedures and sensitive
                                personal data or information) Rules, 2011.</p>
                            <h3>Contact Us</h3>
                            <p>If You require any information or clarification regarding the use of your Personal
                                Information or this Privacy Policy or if You have any grievance with respect to use of
                                Your Personal Information, you can contact us at <a href="/page/contact"><b>contact us.</b></a></p>
                            <h3>International Use</h3>
                            <p>Serialghar is a company based in Bangladesh. By browsing/using Serialghar, YOU hereby
                                acknowledge that Serialghar is not responsible or liable in any manner to comply with
                                any local laws of YOUR territory except Pakistan with respect to Serialghar</p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../amain/sidebar.ejs') %>
        </div>
        <%- include('../amain/footer.ejs') %>
            <script src="/js/mini-main.js"></script>
            <script type='text/javascript' src='//disposalsirbloodless.com/a7/3f/7b/a73f7bb0763f207e00249411611a75f2.js'></script>
</body>

</html>