<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Condition</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="language" content="English">
    <meta name="description" content="Terms and Condition Page of serialghar">
    <meta name="title" content="Terms and Condition">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="serialghar.fun" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Terms and Condition" />
    <meta property="og:description" content="Terms and Condition Page of serialghar" />
    <meta property="og:url" content="https://serialghar.fun" />
    <meta property="fb:admins" content="serialghar" />
    <meta property="og:image" content="https://serialghar.fun/images/serialghar_banner.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://serialghar.fun">
    <meta name="twitter:site" content="@serialghar" />
    <meta name="twitter:title" content="Terms and Condition" />
    <meta name="twitter:description" content="Terms and Condition Page of serialghar" />
    <meta name="twitter:image" content="https://serialghar.fun/images/serialghar_banner.jpg" />
    <style>.mvSideBar{ bottom: 0; transform: translatex(-800px); transition: transform 500ms ease-in-out} </style>
    <link rel="stylesheet" href="/css/main-page.css">
    <script type='text/javascript' src='//disposalsirbloodless.com/a8/9a/68/a89a68fc061fd9b5a9cb612414197e04.js'></script>
</head>

<body>
    <%- include('../amain/top.ejs') %>
        <div id="mainbody">
            <div class="bodymain">
                <div class="body">
                    <div class="symboldiv">
                        <h1>Terms and Conditions</h1>
                        <div class="content">
                            <p>This page outlines the core principals which you must abide by when using this website.
                                In the circumstances which this document uses the terms “We”, “Serialghar”, “Us” or
                                “Bollyfunmaza.com” outlines the owners, moderators and administrators which have
                                created, developed and moderated this website (Serialghar.fun).</p>
                            <p>In the Events that the terms “You” or “Users” arise in this document then you should
                                clearly understand that this means the users browsing the website.</p>
                            <p>We DO NOT host any videos on this website. All videos found on our site are found freely
                                available around the web on sites such Daily Motion, Tune Etc. We make no guarantees or
                                promises in our service and take no liability for our users actions. We are not
                                affiliated nor claim to be affiliated with any of the owners of videos/streams played on
                                our site. All content is copyright of their respective owners.</p>
                            <p>We urge all copyright owners, to recognize that links contained within this site are
                                located somewhere else on the web. The embedded link points to the location of the video
                                on the web. Please direct all copyright infringement issues to the company that host
                                these files (Daily Motion). This document contains the Terms and Conditions of using
                                this website.</p>
                            <br>
                            <h3><strong>1. Liabilities</strong></h3>
                            <p>1.1 Although every care is taken in the preparation of the Website, you acknowledge that
                                it is not technically possible to run the Website free of all faults, and we give no
                                warranties as to the continued operation of the Website and accept no liability for any
                                time the Website is not operational due to faults or maintenance.</p>
                            <p>1.2 You understand that the information supplied to us is by a third party and as such,
                                we cannot take responsibility for this information. We fully appreciate the work of our
                                third parties and take no credit for their efforts.</p>
                            <p>1.3 The material on the Website is designed to comply with Pakistani law and we cannot be
                                held responsible for any non-compliance with applicable local laws in any other
                                jurisdiction.</p>
                            <br>
                            <h3><strong>2. Links to and from this Website</strong></h3>
                            <p>2.1 The Website may contain hypertext links to websites operated by third parties. We do
                                not have control of such websites and you therefore acknowledge that we have no
                                responsibility or liability for their content.</p>
                            <h3>3. Use of information</h3>
                            <p>3.1 The information provided from this website is not owned by us. In this instance we
                                cannot take responsibility for what you do with this information and may be
                                re-distributed with consent of its original authors.</p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../amain/sidebar.ejs') %>
        </div>
        <%- include('../amain/footer.ejs') %>
            <script src="/js/mini-main.js"></script>
            <script type='text/javascript' src='//disposalsirbloodless.com/a7/3f/7b/a73f7bb0763f207e00249411611a75f2.js'></script>
</body>

</html>